<?xml version="1.0" encoding="UTF-8" ?>
<suite name="zj">
    <test name="ceshimokuai">
        <classes>
            <class name="com.tester.extend.demo.testMethodsDemo">
                <method>
                    <include name="test1"/>
                    <include name="test2"/>
                    <include name="test3"/>
                    <include name="logDemo"/>
                </method>
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>
        <listener class-name="com.tester.extend.demo.ExtentTestNGIReporterListener"/>
    </listeners>
</suite>